/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../scss/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../scss/_lightbox.scss */
.wiggle:hover {
  -webkit-animation: none;
}

/* line 13, ../scss/_lightbox.scss */
.short-animate {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* line 21, ../scss/_lightbox.scss */
.long-animate {
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition: .5s .5s ease-in-out;
  transition: .5s .5s ease-in-out;
}

/* line 29, ../scss/_lightbox.scss */
.lightbox {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: #984447;
  z-index: 501;
  opacity: 0;
}

/* line 40, ../scss/_lightbox.scss */
.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 0%;
  max-height: 0%;
}

/* line 51, ../scss/_lightbox.scss */
#lightbox-controls {
  position: fixed;
  height: 70px;
  width: 70px;
  top: -70px;
  right: 0;
  z-index: 502;
  background: rgba(0, 0, 0, 0.1);
}

/* line 61, ../scss/_lightbox.scss */
#close-lightbox {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-indent: -5000px;
  right: 10px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 77, ../scss/_lightbox.scss */
#close-lightbox:before {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 3px;
  left: 24px;
  top: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition: .5s .5s ease-in-out;
  transition: .5s .5s ease-in-out;
}

/* line 94, ../scss/_lightbox.scss */
#close-lightbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  top: 24px;
  left: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: .5s 1s ease-in-out;
  -moz-transition: .5s 1s ease-in-out;
  -ms-transition: .5s 1s ease-in-out;
  -o-transition: .5s 1s ease-in-out;
  transition: .5s 1s ease-in-out;
}

/* line 111, ../scss/_lightbox.scss */
.lightbox:target {
  top: 0%;
  bottom: 0%;
  opacity: 1;
}

/* line 117, ../scss/_lightbox.scss */
.lightbox:target img {
  max-width: 100%;
  max-height: 100%;
}

/* line 122, ../scss/_lightbox.scss */
.lightbox:target ~ #lightbox-controls {
  top: 0px;
}

/* line 126, ../scss/_lightbox.scss */
.lightbox:target ~ #lightbox-controls #close-lightbox:after {
  width: 50px;
}

/* line 130, ../scss/_lightbox.scss */
.lightbox:target ~ #lightbox-controls #close-lightbox:before {
  height: 50px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }
  20% {
    -webkit-transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
  }
  60% {
    -webkit-transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}
/*generics*/
/* line 6, ../scss/app-new.scss */
body {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  line-height: normal;
}

/* line 12, ../scss/app-new.scss */
a {
  text-decoration: none;
}

/* line 25, ../scss/app-new.scss */
jwc-layout-header {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
}

/* line 31, ../scss/app-new.scss */
ul.simple-list {
  display: inline-block;
  margin: 1em 2em 1em 2em;
}

/* line 255, ../scss/app-new.scss */
/* line 36, ../scss/app-new.scss */
ul.simple-list li {
  position: relative;
  min-height: 10rem;
  margin: 4em 1em 1em 1em;
}

/* line 259, ../scss/app-new.scss */
/* line 42, ../scss/app-new.scss */
ul.simple-list li h2 {
  font-size: 2em;
  position: absolute;
  top: -1em;
}

/* line 264, ../scss/app-new.scss */
/* line 48, ../scss/app-new.scss */
ul.simple-list li img {
  margin: 1em;
}

/* line 268, ../scss/app-new.scss */
/* line 52, ../scss/app-new.scss */
ul.simple-list li jwc-project-card .container {
  background-color: #ececec;
}

/* line 56, ../scss/app-new.scss */
.about-page #container {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 64, ../scss/app-new.scss */
.about-page #container jwc-user-profile {
  margin: 28vh 0 0 8vh;
  transform: translateY(-50%);
}

/* line 70, ../scss/app-new.scss */
.about-page #container jwc-user-profile .container {
  max-width: none;
}

/* line 74, ../scss/app-new.scss */
.footer .social-links {
  margin-bottom: 20px !important;
}
