/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../scss/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../scss/_lightbox.scss */
.wiggle:hover {
  -webkit-animation: none;
}

/* line 13, ../scss/_lightbox.scss */
.short-animate {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* line 21, ../scss/_lightbox.scss */
.long-animate {
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition: .5s .5s ease-in-out;
  transition: .5s .5s ease-in-out;
}

/* line 29, ../scss/_lightbox.scss */
.lightbox {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: #984447;
  z-index: 501;
  opacity: 0;
}

/* line 40, ../scss/_lightbox.scss */
.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 0%;
  max-height: 0%;
}

/* line 51, ../scss/_lightbox.scss */
#lightbox-controls {
  position: fixed;
  height: 70px;
  width: 70px;
  top: -70px;
  right: 0;
  z-index: 502;
  background: rgba(0, 0, 0, 0.1);
}

/* line 61, ../scss/_lightbox.scss */
#close-lightbox {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-indent: -5000px;
  right: 10px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 77, ../scss/_lightbox.scss */
#close-lightbox:before {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 3px;
  left: 24px;
  top: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition: .5s .5s ease-in-out;
  transition: .5s .5s ease-in-out;
}

/* line 94, ../scss/_lightbox.scss */
#close-lightbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  top: 24px;
  left: 0;
  background: white;
  border-radius: 2px;
  -webkit-transition: .5s 1s ease-in-out;
  -moz-transition: .5s 1s ease-in-out;
  -ms-transition: .5s 1s ease-in-out;
  -o-transition: .5s 1s ease-in-out;
  transition: .5s 1s ease-in-out;
}

/* line 111, ../scss/_lightbox.scss */
.lightbox:target {
  top: 0%;
  bottom: 0%;
  opacity: 1;
}

/* line 117, ../scss/_lightbox.scss */
.lightbox:target img {
  max-width: 100%;
  max-height: 100%;
}

/* line 122, ../scss/_lightbox.scss */
.lightbox:target ~ #lightbox-controls {
  top: 0px;
}

/* line 126, ../scss/_lightbox.scss */
.lightbox:target ~ #lightbox-controls #close-lightbox:after {
  width: 50px;
}

/* line 130, ../scss/_lightbox.scss */
.lightbox:target ~ #lightbox-controls #close-lightbox:before {
  height: 50px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }
  20% {
    -webkit-transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
  }
  60% {
    -webkit-transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}
/* line 3, ../scss/cosmos.scss */
.cosmos-wrap {
  position: fixed;
  top: 0vmin;
  left: 0vmin;
  /* border: 5px solid white; */
  background-color: black;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
}
@media (min-width: 320px) and (max-width: 783px) {
  /* line 3, ../scss/cosmos.scss */
  .cosmos-wrap {
    top: -53vmin;
    left: -20vmin;
  }
}

/* /start ------------------ Background Stars ------------------ */
/* line 22, ../scss/cosmos.scss */
.background-stars-wrap {
  position: absolute;
  top: -50vmin;
  left: -50vmin;
  animation: flickering 2.1s linear infinite;
}

@keyframes flickering {
  50% {
    opacity: 0.83;
  }
}
/* line 35, ../scss/cosmos.scss */
.bg-star-1 {
  position: absolute;
  top: 10vmin;
  left: 10vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.8vmin 0.05vmin white, 0vmin 0vmin 2vmin 0.05vmin white;
}

/* line 47, ../scss/cosmos.scss */
.bg-star-2 {
  position: absolute;
  top: 20vmin;
  left: 20vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 5.5vmin 1.5vmin white;
}

/* line 58, ../scss/cosmos.scss */
.bg-star-2:hover {
  position: absolute;
  top: 20vmin;
  left: 20vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 5.5vmin 1.5vmin white;
  animation: explosion 10s linear;
}

@keyframes explosion {
  10% {
    box-shadow: 0vmin 0vmin 10.5vmin 4.5vmin white;
  }
  15% {
    box-shadow: 0vmin 0vmin 40.5vmin 0.5vmin white;
  }
  20% {
    box-shadow: 0vmin 0vmin 10.5vmin 15.5vmin white;
  }
  23% {
    box-shadow: 0vmin 0vmin 80.5vmin 7.5vmin white;
  }
  30% {
    box-shadow: 0vmin 0vmin 1vmin 1vmin white;
  }
  70% {
    box-shadow: 0vmin 0vmin 40vmin 400.5vmin white;
    z-index: 400;
  }
  90% {
    box-shadow: 0vmin 0vmin 80.5vmin 400.5vmin transparent;
    z-index: 400;
  }
  100% {
    box-shadow: 0vmin 0vmin 5.5vmin 1.5vmin transparent;
    z-index: 400;
  }
}
/* line 107, ../scss/cosmos.scss */
.bg-star-3 {
  position: absolute;
  top: 20vmin;
  left: 120vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 2.5vmin 0.5vmin white;
}

/* line 118, ../scss/cosmos.scss */
.bg-star-4 {
  position: absolute;
  top: 10vmin;
  left: 100vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 2.5vmin 0.5vmin white;
}

/* line 129, ../scss/cosmos.scss */
.bg-star-5 {
  position: absolute;
  top: 80vmin;
  left: 20vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 2.5vmin 0.5vmin white;
}

/* line 140, ../scss/cosmos.scss */
.bg-star-6 {
  position: absolute;
  top: 40vmin;
  left: 70vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 2.5vmin 0.5vmin white;
}

/* line 151, ../scss/cosmos.scss */
.bg-star-7 {
  position: absolute;
  top: 7vmin;
  left: 200vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 2.5vmin 0.5vmin white;
}

/* line 162, ../scss/cosmos.scss */
.bg-star-8 {
  position: absolute;
  top: 90vmin;
  left: 140vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 2.5vmin 0.5vmin white;
  animation: color-flickering 0.08s linear infinite;
}

/* line 174, ../scss/cosmos.scss */
.bg-star-9 {
  position: absolute;
  top: 60vmin;
  left: 100vmin;
  width: 5vmin;
  height: 3vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 4vmin 0vmin white, 0vmin 0vmin 8vmin 0vmin white, 0vmin 0vmin 16vmin 0vmin white;
  background-image: radial-gradient(circle at center, #000000, #000000, #000000);
  animation: color-flickering 0.09s linear infinite;
}

/* line 189, ../scss/cosmos.scss */
.bg-star-10 {
  position: absolute;
  top: 20vmin;
  left: 170vmin;
  width: 8vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin green, 0vmin 0vmin 4vmin 0vmin purple, 0vmin 0vmin 16vmin 0vmin blue;
  background-image: radial-gradient(circle at center, #000000, #000000, #000000);
  border: 1.8vmin solid rgba(255, 255, 255, 0.5);
}

/* line 210, ../scss/cosmos.scss */
.bg-star-11 {
  position: absolute;
  top: 40vmin;
  left: 220vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white;
}

/* line 222, ../scss/cosmos.scss */
.bg-star-12 {
  position: absolute;
  top: 100vmin;
  left: 80vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: purple;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin purple, 0vmin 0vmin 2vmin 0.1vmin purple, 0vmin 0vmin 4vmin 0.2vmin purple, 0vmin 0vmin 8vmin 0.4vmin purple, 0vmin 0vmin 16vmin 0.8vmin purple;
}

/* line 234, ../scss/cosmos.scss */
.bg-star-13 {
  position: absolute;
  top: 180vmin;
  left: 120vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.1vmin white, 0vmin 0vmin 4vmin 0.2vmin white, 0vmin 0vmin 8vmin 0.4vmin white, 0vmin 0vmin 16vmin 0.8vmin white;
}

/* line 246, ../scss/cosmos.scss */
.bg-star-14 {
  position: absolute;
  top: 140vmin;
  left: 180vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0vmin white;
}

/* line 257, ../scss/cosmos.scss */
.bg-star-15 {
  position: absolute;
  top: 140vmin;
  left: 120vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.1vmin white, 0vmin 0vmin 4vmin 0.2vmin white, 0vmin 0vmin 8vmin 0.4vmin white;
}

/* line 268, ../scss/cosmos.scss */
.bg-star-16 {
  position: absolute;
  top: 100vmin;
  left: 220vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 280, ../scss/cosmos.scss */
.bg-star-17 {
  position: absolute;
  top: 80vmin;
  left: 180vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white;
}

/* line 291, ../scss/cosmos.scss */
.bg-star-18 {
  position: absolute;
  top: 40vmin;
  left: 120vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.2vmin 0vmin red, 0vmin 0vmin 0.4vmin 0.1vmin red, 0vmin 0vmin 0.8vmin 0.2vmin red, 0vmin 0vmin 1.6vmin 0.2vmin red, 0vmin 0vmin 3.2vmin 0.4vmin red;
}

/* line 303, ../scss/cosmos.scss */
.bg-star-19 {
  position: absolute;
  top: 50vmin;
  left: 120vmin;
  width: 0.8vmin;
  height: 0.8vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.2vmin 0vmin white, 0vmin 0vmin 0.4vmin 0.1vmin white, 0vmin 0vmin 0.8vmin 0.2vmin white, 0vmin 0vmin 1.6vmin 0.2vmin white, 0vmin 0vmin 3.2vmin 0.4vmin white;
}

/* line 315, ../scss/cosmos.scss */
.bg-star-20 {
  position: absolute;
  top: 82vmin;
  left: 220vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.2vmin 0vmin white, 0vmin 0vmin 0.4vmin 0.1vmin white, 0vmin 0vmin 0.8vmin 0.2vmin white, 0vmin 0vmin 1.6vmin 0.2vmin white, 0vmin 0vmin 3.2vmin 0.4vmin white;
}

/* line 327, ../scss/cosmos.scss */
.bg-star-21 {
  position: absolute;
  top: 180vmin;
  left: 220vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin blue, 0vmin 0vmin 2vmin 0.2vmin blue, 0vmin 0vmin 4vmin 0.4vmin blue, 0vmin 0vmin 8vmin 0.5vmin blue, 0vmin 0vmin 16vmin 0.6vmin blue;
}

/* line 339, ../scss/cosmos.scss */
.bg-star-22 {
  position: absolute;
  top: 190vmin;
  left: 143vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: #0026ff;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.2vmin 0vmin #0026ff, 0vmin 0vmin 0.4vmin 0.1vmin blue, 0vmin 0vmin 0.8vmin 0.2vmin royalblue, 0vmin 0vmin 1.6vmin 0.2vmin royalblue, 0vmin 0vmin 10.4vmin 0.4vmin royalblue, 0vmin 0vmin 12.8vmin 0.4vmin royalblue;
}

/* line 353, ../scss/cosmos.scss */
.bg-star-23 {
  position: absolute;
  top: 160vmin;
  left: 185vmin;
  width: 0.3vmin;
  height: 0.3vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 365, ../scss/cosmos.scss */
.bg-star-24 {
  position: absolute;
  top: 40vmin;
  left: 40vmin;
  width: 0.8vmin;
  height: 0.8vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.2vmin 0vmin white, 0vmin 0vmin 0.4vmin 0.02vmin white, 0vmin 0vmin 0.8vmin 0.04vmin white, 0vmin 0vmin 1.6vmin 0.08vmin white, 0vmin 0vmin 3.2vmin 0.16vmin white;
}

/* line 377, ../scss/cosmos.scss */
.bg-star-25 {
  position: absolute;
  top: 152vmin;
  left: 120vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 389, ../scss/cosmos.scss */
.bg-star-26 {
  position: absolute;
  top: 28vmin;
  left: 185vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 401, ../scss/cosmos.scss */
.bg-star-27 {
  position: absolute;
  top: 172vmin;
  left: 220vmin;
  width: 0.6vmin;
  height: 0.6vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 413, ../scss/cosmos.scss */
.bg-star-28 {
  position: absolute;
  top: 110vmin;
  left: 198vmin;
  width: 0.1vmin;
  height: 0.1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 425, ../scss/cosmos.scss */
.bg-star-29 {
  position: absolute;
  top: 122vmin;
  left: 140vmin;
  width: 0.3vmin;
  height: 0.3vmin;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin red, 0vmin 0vmin 2vmin 0.2vmin red, 0vmin 0vmin 4vmin 0.4vmin red, 0vmin 0vmin 8vmin 0.5vmin red, 0vmin 0vmin 16vmin 0.6vmin red;
}

/* line 437, ../scss/cosmos.scss */
.bg-star-30 {
  position: absolute;
  top: 148vmin;
  left: 210vmin;
  width: 1.3vmin;
  height: 1.3vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 449, ../scss/cosmos.scss */
.bg-star-31 {
  position: absolute;
  top: 140vmin;
  left: 214vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 461, ../scss/cosmos.scss */
.bg-star-32 {
  position: absolute;
  top: 140vmin;
  left: 10vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 473, ../scss/cosmos.scss */
.bg-star-33 {
  position: absolute;
  top: 180vmin;
  left: 10vmin;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 485, ../scss/cosmos.scss */
.bg-star-34 {
  position: absolute;
  top: 50vmin;
  left: 22vmin;
  width: 2vmin;
  height: 2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 2vmin 0.2vmin white, 0vmin 0vmin 4vmin 0.4vmin white, 0vmin 0vmin 8vmin 0.5vmin white, 0vmin 0vmin 16vmin 0.6vmin white;
}

/* line 497, ../scss/cosmos.scss */
.bg-star-35 {
  position: absolute;
  top: 40vmin;
  left: 20vmin;
  width: 0.45vmin;
  height: 0.45vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 509, ../scss/cosmos.scss */
.bg-star-36 {
  position: absolute;
  top: 72vmin;
  left: 6vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 521, ../scss/cosmos.scss */
.bg-star-37 {
  position: absolute;
  top: 72vmin;
  left: 260vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 533, ../scss/cosmos.scss */
.bg-star-38 {
  position: absolute;
  top: 42vmin;
  left: 160vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 545, ../scss/cosmos.scss */
.bg-star-39 {
  position: absolute;
  top: 72vmin;
  left: 150vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 557, ../scss/cosmos.scss */
.bg-star-40 {
  position: absolute;
  top: 62vmin;
  left: 120vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 569, ../scss/cosmos.scss */
.bg-star-41 {
  position: absolute;
  top: 67vmin;
  left: 130vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 581, ../scss/cosmos.scss */
.bg-star-42 {
  position: absolute;
  top: 47vmin;
  left: 170vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 593, ../scss/cosmos.scss */
.bg-star-43 {
  position: absolute;
  top: 70vmin;
  left: 180vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 605, ../scss/cosmos.scss */
.bg-star-44 {
  position: absolute;
  top: 72vmin;
  left: 190vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 617, ../scss/cosmos.scss */
.bg-star-45 {
  position: absolute;
  top: 67vmin;
  left: 200vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 629, ../scss/cosmos.scss */
.bg-star-46 {
  position: absolute;
  top: 41vmin;
  left: 210vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 641, ../scss/cosmos.scss */
.bg-star-47 {
  position: absolute;
  top: 117vmin;
  left: 240vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 653, ../scss/cosmos.scss */
.bg-star-48 {
  position: absolute;
  top: 124vmin;
  left: 154vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 665, ../scss/cosmos.scss */
.bg-star-49 {
  position: absolute;
  top: 121vmin;
  left: 208vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 677, ../scss/cosmos.scss */
.bg-star-50 {
  position: absolute;
  top: 31vmin;
  left: 240vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 689, ../scss/cosmos.scss */
.bg-star-51 {
  position: absolute;
  top: 72vmin;
  left: 182vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 701, ../scss/cosmos.scss */
.bg-star-52 {
  position: absolute;
  top: 12vmin;
  left: 147vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 713, ../scss/cosmos.scss */
.bg-star-53 {
  position: absolute;
  top: 62vmin;
  left: 154vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 725, ../scss/cosmos.scss */
.bg-star-54 {
  position: absolute;
  top: 92vmin;
  left: 133vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 737, ../scss/cosmos.scss */
.bg-star-55 {
  position: absolute;
  top: 42vmin;
  left: 128vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 749, ../scss/cosmos.scss */
.bg-star-56 {
  position: absolute;
  top: 67vmin;
  left: 44vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 761, ../scss/cosmos.scss */
.bg-star-57 {
  position: absolute;
  top: 12vmin;
  left: 6vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 773, ../scss/cosmos.scss */
.bg-star-58 {
  position: absolute;
  top: 8vmin;
  left: 4vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 785, ../scss/cosmos.scss */
.bg-star-59 {
  position: absolute;
  top: 172vmin;
  left: 6vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 797, ../scss/cosmos.scss */
.bg-star-60 {
  position: absolute;
  top: 58vmin;
  left: 12vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 809, ../scss/cosmos.scss */
.bg-star-61 {
  position: absolute;
  top: 32vmin;
  left: 36vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 821, ../scss/cosmos.scss */
.bg-star-62 {
  position: absolute;
  top: 72vmin;
  left: 8vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 833, ../scss/cosmos.scss */
.bg-star-63 {
  position: absolute;
  top: 77vmin;
  left: 16vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 845, ../scss/cosmos.scss */
.bg-star-64 {
  position: absolute;
  top: 49vmin;
  left: 56vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 857, ../scss/cosmos.scss */
.bg-star-65 {
  position: absolute;
  top: 72vmin;
  left: 86vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 869, ../scss/cosmos.scss */
.bg-star-66 {
  position: absolute;
  top: 27vmin;
  left: 96vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 881, ../scss/cosmos.scss */
.bg-star-67 {
  position: absolute;
  top: 97vmin;
  left: 46vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 893, ../scss/cosmos.scss */
.bg-star-68 {
  position: absolute;
  top: 7vmin;
  left: 126vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 905, ../scss/cosmos.scss */
.bg-star-69 {
  position: absolute;
  top: 6vmin;
  left: 56vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 917, ../scss/cosmos.scss */
.bg-star-70 {
  position: absolute;
  top: 2vmin;
  left: 59vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 929, ../scss/cosmos.scss */
.bg-star-71 {
  position: absolute;
  top: 14vmin;
  left: 67vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 941, ../scss/cosmos.scss */
.bg-star-72 {
  position: absolute;
  top: 27vmin;
  left: 71vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 953, ../scss/cosmos.scss */
.bg-star-73 {
  position: absolute;
  top: 21vmin;
  left: 63vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 965, ../scss/cosmos.scss */
.bg-star-74 {
  position: absolute;
  top: 25vmin;
  left: 56vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 977, ../scss/cosmos.scss */
.bg-star-75 {
  position: absolute;
  top: 29vmin;
  left: 61vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 989, ../scss/cosmos.scss */
.bg-star-76 {
  position: absolute;
  top: 12vmin;
  left: 36vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1001, ../scss/cosmos.scss */
.bg-star-77 {
  position: absolute;
  top: 3vmin;
  left: 24vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1013, ../scss/cosmos.scss */
.bg-star-78 {
  position: absolute;
  top: 4vmin;
  left: 13vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1025, ../scss/cosmos.scss */
.bg-star-79 {
  position: absolute;
  top: 66vmin;
  left: 19vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1037, ../scss/cosmos.scss */
.bg-star-80 {
  position: absolute;
  top: 7vmin;
  left: 2vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1049, ../scss/cosmos.scss */
.bg-star-81 {
  position: absolute;
  top: 59vmin;
  left: 74vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1061, ../scss/cosmos.scss */
.bg-star-82 {
  position: absolute;
  top: 54vmin;
  left: 78vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1073, ../scss/cosmos.scss */
.bg-star-83 {
  position: absolute;
  top: 61vmin;
  left: 71vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1085, ../scss/cosmos.scss */
.bg-star-84 {
  position: absolute;
  top: 72vmin;
  left: 56vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1097, ../scss/cosmos.scss */
.bg-star-85 {
  position: absolute;
  top: 54vmin;
  left: 51vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1109, ../scss/cosmos.scss */
.bg-star-86 {
  position: absolute;
  top: 110vmin;
  left: 86vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1121, ../scss/cosmos.scss */
.bg-star-87 {
  position: absolute;
  top: 121vmin;
  left: 106vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1133, ../scss/cosmos.scss */
.bg-star-88 {
  position: absolute;
  top: 112vmin;
  left: 66vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1145, ../scss/cosmos.scss */
.bg-star-89 {
  position: absolute;
  top: 124vmin;
  left: 96vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1157, ../scss/cosmos.scss */
.bg-star-90 {
  position: absolute;
  top: 111vmin;
  left: 101vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1169, ../scss/cosmos.scss */
.bg-star-91 {
  position: absolute;
  top: 19vmin;
  left: 306vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1181, ../scss/cosmos.scss */
.bg-star-92 {
  position: absolute;
  top: 2vmin;
  left: 316vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1193, ../scss/cosmos.scss */
.bg-star-93 {
  position: absolute;
  top: 172vmin;
  left: 336vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1205, ../scss/cosmos.scss */
.bg-star-94 {
  position: absolute;
  top: 112vmin;
  left: 292vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1217, ../scss/cosmos.scss */
.bg-star-95 {
  position: absolute;
  top: 4vmin;
  left: 279vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1229, ../scss/cosmos.scss */
.bg-star-96 {
  position: absolute;
  top: 52vmin;
  left: 299vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1241, ../scss/cosmos.scss */
.bg-star-97 {
  position: absolute;
  top: 98vmin;
  left: 283vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1253, ../scss/cosmos.scss */
.bg-star-98 {
  position: absolute;
  top: 91vmin;
  left: 312vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1265, ../scss/cosmos.scss */
.bg-star-99 {
  position: absolute;
  top: 42vmin;
  left: 370vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

/* line 1277, ../scss/cosmos.scss */
.bg-star-100 {
  position: absolute;
  top: 109vmin;
  left: 381vmin;
  width: 0.2vmin;
  height: 0.2vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0.1vmin 0vmin white, 0vmin 0vmin 0.2vmin 0.02vmin white, 0vmin 0vmin 0.4vmin 0.04vmin white, 0vmin 0vmin 0.8vmin 0.08vmin white, 0vmin 0vmin 1.6vmin 0.16vmin white;
}

@keyframes color-flickering {
  20% {
    background-color: red;
    box-shadow: 0vmin 0vmin 1vmin 0vmin red, 0vmin 0vmin 4vmin 0vmin red, 0vmin 0vmin 8vmin 0vmin red, 0vmin 0vmin 16vmin 0vmin red;
  }
  40% {
    background-color: #80ff00;
    box-shadow: 0vmin 0vmin 1vmin 0vmin #80ff00, 0vmin 0vmin 4vmin 0vmin #80ff00, 0vmin 0vmin 8vmin 0vmin #80ff00, 0vmin 0vmin 16vmin 0vmin #80ff00;
  }
  60% {
    background-color: cyan;
    box-shadow: 0vmin 0vmin 1vmin 0vmin cyan, 0vmin 0vmin 4vmin 0vmin cyan, 0vmin 0vmin 8vmin 0vmin cyan, 0vmin 0vmin 16vmin 0vmin cyan;
  }
  80% {
    background-color: #8000ff;
    box-shadow: 0vmin 0vmin 1vmin 0vmin #8000ff, 0vmin 0vmin 4vmin 0vmin #8000ff, 0vmin 0vmin 8vmin 0vmin #8000ff, 0vmin 0vmin 16vmin 0vmin #8000ff;
  }
}
/* /end ------------------ Background Stars ------------------ */
/* /start ------------------ Falling Stars------------------ */
/* line 1327, ../scss/cosmos.scss */
.falling-star1 {
  position: absolute;
  top: -10vmin;
  left: 380vmin;
  width: 20.2vmin;
  height: 0.2vmin;
  border-radius: 30%;
  background-color: white;
  box-shadow: 0vmin 0vmin 0.5vmin 0.2vmin white, 0vmin 0vmin 1vmin 0.2vmin white, 0vmin 0vmin 1.5vmin 0.2vmin white;
  transform-origin: 0vmin 1000vmin;
  animation: falling-star1-anim 13s linear infinite;
}

@keyframes falling-star1-anim {
  1%,
    1.6%,
    2.2%,
    2.8%,
    3.4%,
    4%,
    4.6%,
    5.2%,
    5.8%,
    6.4% {
    box-shadow: 0vmin 0vmin 23.5vmin 6vmin white, 0vmin 0vmin 24vmin 6vmin white, 0vmin 0vmin 25.5vmin 6vmin white;
  }
  1.3%,
    1.9%,
    2.5%,
    3.1%,
    3.7%,
    4.3%,
    4.9%,
    5.5%,
    6.1%,
    6.7% {
    box-shadow: 0vmin 0vmin 0.5vmin 0vmin white, 0vmin 0vmin 1vmin 0vmin white, 0vmin 0vmin 1.5vmin 0vmin white;
  }
  50% {
    transform: rotate(-0.5turn);
  }
}
/* line 1373, ../scss/cosmos.scss */
.falling-star2 {
  position: absolute;
  top: -10vmin;
  left: -380vmin;
  width: 30vmin;
  height: 1vmin;
  border-radius: 30%;
  background-color: white;
  box-shadow: 0vmin 0vmin 1vmin 0.1vmin white, 0vmin 0vmin 1.5vmin 0.2vmin white, 0vmin 0vmin 2.25vmin 0.2vmin white, 0vmin 0vmin 5vmin 0.4vmin white;
  transform-origin: 0vmin 1000vmin;
  animation: falling-star2-anim 15s 7.5s linear infinite;
}

@keyframes falling-star2-anim {
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(-0.5turn);
    transform-origin: 200vmin 1000vmin;
  }
}
/* line 1398, ../scss/cosmos.scss */
.falling-star3 {
  position: absolute;
  top: 0vmin;
  left: 400vmin;
  width: 20.4vmin;
  height: 0.4vmin;
  border-radius: 30%;
  background-color: white;
  box-shadow: 0vmin 0vmin 0.8vmin 0.05vmin white, 0vmin 0vmin 1vmin 0.09vmin white, 0vmin 0vmin 1.2vmin 0.1vmin white;
  transform-origin: 0vmin 800vmin;
  animation: falling-star3-anim 14s 4s linear infinite;
}

@keyframes falling-star3-anim {
  50% {
    transform: rotate(-0.5turn);
  }
  100% {
    transform: rotate(0.5turn);
  }
}
/* /end ------------------ Falling Stars ------------------ */
/* /start ------------------ Star System ------------------ */
/* line 1423, ../scss/cosmos.scss */
.star-system-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.7);
}

/* line 1430, ../scss/cosmos.scss */
.orbits-wrap {
  position: absolute;
  width: 60vmin;
  height: 60vmin;
  bottom: -100vmin;
  left: -80vmin;
  transform: rotateX(75deg);
}

/* line 1439, ../scss/cosmos.scss */
[class*="orbit-line"] {
  transform: skewY(-25deg);
  border-radius: 50%;
  position: absolute;
  border: 0.5vmin solid;
}

/* line 1446, ../scss/cosmos.scss */
.orbit-line-1 {
  z-index: 6;
  top: 0vmin;
  left: 0vmin;
  width: 164vmin;
  height: 164vmin;
  border-color: maroon;
}

/* line 1454, ../scss/cosmos.scss */
.orbit-line-2 {
  z-index: 5;
  top: -15vmin;
  left: -20vmin;
  width: 205vmin;
  height: 205vmin;
  border-color: #ff3300;
}

/* line 1462, ../scss/cosmos.scss */
.orbit-line-3 {
  z-index: 4;
  top: -19vmin;
  left: -60vmin;
  width: 285vmin;
  height: 285vmin;
  border-color: #ff9100;
}

/* line 1470, ../scss/cosmos.scss */
.orbit-line-4 {
  z-index: 3;
  top: -25vmin;
  left: -125vmin;
  width: 420vmin;
  height: 420vmin;
  border-color: #e0d100;
}

/* line 1478, ../scss/cosmos.scss */
.orbit-line-5 {
  z-index: 2;
  top: -28vmin;
  left: -165vmin;
  width: 500vmin;
  height: 500vmin;
  border-color: #44fdf4;
}

/* line 1486, ../scss/cosmos.scss */
.orbit-line-6 {
  z-index: 1;
  top: -30vmin;
  left: -220vmin;
  width: 600vmin;
  height: 600vmin;
  border-color: #f5feff;
}

/* line 1495, ../scss/cosmos.scss */
.p1-wrap,
.p2-wrap,
.p3-wrap,
.p4-wrap,
.p5-wrap,
.p6-wrap {
  position: absolute;
}

/* line 1504, ../scss/cosmos.scss */
.star,
[class*="planet"] {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
}

/* line 1514, ../scss/cosmos.scss */
.star {
  /* visibility: hidden; */
  top: 70vmin;
  left: -30vmin;
  height: 60vmin;
  width: 60vmin;
  background-color: yellow;
  box-shadow: 0 0 1vmin 1vmin rgba(255, 238, 0, 0.8), 0 0 2vmin 2vmin rgba(255, 198, 26, 0.8), 0 0 4vmin 4vmin rgba(255, 175, 26, 0.75), 0 0 8vmin 8vmin rgba(255, 117, 26, 0.7), 0 0 16vmin 16vmin rgba(255, 102, 26, 0.5);
  animation: star-anim 10s linear infinite;
}

@keyframes star-anim {
  50% {
    box-shadow: 0 0 1.9vmin 1.9vmin rgba(255, 238, 0, 0.8), 0 0 2.9vmin 2.9vmin rgba(255, 198, 26, 0.8), 0 0 4.9vmin 4.9vmin rgba(255, 175, 26, 0.75), 0 0 8.9vmin 8.9vmin rgba(255, 117, 26, 0.7), 0 0 16.9vmin 16.9vmin rgba(255, 102, 26, 0.5);
  }
}
/* line 1539, ../scss/cosmos.scss */
.p1-wrap {
  top: 160vmin;
  left: 80vmin;
  animation: p1-wrap-anim 10s linear infinite;
}

@keyframes p1-wrap-anim {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 1551, ../scss/cosmos.scss */
.planet1 {
  width: 8vmin;
  height: 32vmin;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 1.5vmin 97vmin;
  /* original: 4vmin 86vmin */
  background-color: #b32400;
  animation: planet1-anim 10s linear infinite;
  background-image: linear-gradient(60deg, #fc6031, transparent, #621d1d, transparent, #4b1106), linear-gradient(60deg, #9d2d01, transparent, #9d435a, transparent, #a93b04), linear-gradient(60deg, #8a2200, transparent, #751a0a, transparent, #800900);
}

@keyframes planet1-anim {
  100.0% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/* line 1592, ../scss/cosmos.scss */
.p2-wrap {
  top: 200vmin;
  left: 102vmin;
  animation: p2-wrap-anim 25s linear infinite;
}

@keyframes p2-wrap-anim {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 1604, ../scss/cosmos.scss */
.planet2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5c3700;
  width: 8vmin;
  height: 32vmin;
  border-radius: 50%;
  transform-origin: 2vmin 118vmin;
  animation: planet2-anim 25s linear infinite;
  background-image: radial-gradient(circle at top center, #9b6941, rgba(0, 0, 0, 0), #ffd000), radial-gradient(circle at bottom center, #1407ca, rgba(0, 0, 0, 0), #b69243);
}

/* planet2 disk 1*/
/* line 1629, ../scss/cosmos.scss */
.planet2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vmin;
  height: 10vmin;
  border-radius: 50%;
  border: double #96876e;
  border-top-width: 3vmin;
  border-left-width: 2vmin;
  border-bottom-width: 6vmin;
  border-right-width: 2vmin;
  padding: 10vmin 0vmin;
}

/* planet2 disk 2*/
/* line 1647, ../scss/cosmos.scss */
.planet2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vmin;
  height: 15vmin;
  border-radius: 50%;
  border: double #373125;
  border-top-width: 3vmin;
  border-left-width: 2vmin;
  border-bottom-width: 6vmin;
  border-right-width: 2vmin;
  padding: 10vmin 0vmin;
}

@keyframes planet2-anim {
  100.0% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/* line 1670, ../scss/cosmos.scss */
.p3-wrap {
  top: 283vmin;
  left: 130vmin;
  animation: p3-wrap-anim 5s linear infinite;
}

@keyframes p3-wrap-anim {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 1682, ../scss/cosmos.scss */
.planet3 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: -10.5vmin 158vmin;
  background-color: #012393;
  width: 8vmin;
  height: 32vmin;
  animation: planet3-anim 5s linear infinite;
  background-image: linear-gradient(170deg, #1c2a30 0% 10%, transparent 20% 40%, #348379 50% 60%, transparent 70% 100%), linear-gradient(0deg, #4055c9 0% 10%, transparent 20% 40%, #64aa93 50% 60%, transparent 70% 100%), linear-gradient(90deg, #096d57, #19194d);
}

@keyframes planet3-anim {
  100.0% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/* line 1714, ../scss/cosmos.scss */
.p4-wrap {
  top: 420vmin;
  left: 200vmin;
  animation: p4-wrap-anim 15s linear infinite;
}

@keyframes p4-wrap-anim {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 1726, ../scss/cosmos.scss */
.planet4 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: -5vmin 227vmin;
  background-color: purple;
  width: 8vmin;
  height: 32vmin;
  animation: planet4-anim 15s linear infinite;
  background-image: linear-gradient(90deg, #d75050, #af85d6);
}

@keyframes planet4-anim {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/* line 1748, ../scss/cosmos.scss */
.p5-wrap {
  top: 500vmin;
  left: 245vmin;
  animation: p4-wrap-anim 7s linear infinite;
}

@keyframes p5-wrap-anim {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 1760, ../scss/cosmos.scss */
.planet5 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: -5vmin 265vmin;
  background-color: #99dbcd;
  width: 8vmin;
  height: 32vmin;
  animation: planet4-anim 7s linear infinite;
  background-image: repeating-radial-gradient(circle at center, rgba(116, 145, 241, 0.884) 0% 10%, transparent 20% 40%, rgba(117, 90, 72, 0.932) 45% 55%);
}

@keyframes planet5-anim {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/* line 1783, ../scss/cosmos.scss */
.p6-wrap {
  top: 600vmin;
  left: 297vmin;
  animation: p4-wrap-anim 21s linear infinite;
}

@keyframes p6-wrap-anim {
  100% {
    transform: rotate(-360deg);
  }
}
/* line 1795, ../scss/cosmos.scss */
.planet6 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0vmin 317vmin;
  background-color: #ffd68f;
  width: 8vmin;
  height: 32vmin;
  animation: planet4-anim 21s linear infinite;
  background-image: repeating-linear-gradient(0deg, #f5b914 0% 2%, #b5a187 2% 10%, #c89679 10% 15%, #a48b74 15% 20%, #fdd796 20% 30%);
}

@keyframes planet6-anim {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/* /end ------------------ Star System ------------------ */
/*generics*/
/* line 8, ../scss/app-new.scss */
body {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  line-height: normal;
  background-color: black;
}

/* line 15, ../scss/app-new.scss */
a {
  text-decoration: none;
}

/* line 28, ../scss/app-new.scss */
jwc-layout-header {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
}
@media (min-width: 1024px) {
  /* line 28, ../scss/app-new.scss */
  jwc-layout-header {
    background-color: #cdcdcd;
  }
}

/* line 41, ../scss/app-new.scss */
ul.simple-list {
  display: inline-block;
  margin: 3em 2em 1em 31em;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 783px) {
  /* line 41, ../scss/app-new.scss */
  ul.simple-list {
    margin: 2em 0;
    padding-left: 0em;
  }
}

/* line 255, ../scss/app-new.scss */
/* line 51, ../scss/app-new.scss */
ul.simple-list li {
  position: relative;
  min-height: 10rem;
  margin: 4em 1em 1em 1em;
}

/* line 259, ../scss/app-new.scss */
/* line 57, ../scss/app-new.scss */
ul.simple-list li h2 {
  font-size: 2em;
  position: absolute;
  top: -1em;
}

/* line 264, ../scss/app-new.scss */
/* line 63, ../scss/app-new.scss */
ul.simple-list li img {
  margin: 1em;
}

/* line 268, ../scss/app-new.scss */
/* line 67, ../scss/app-new.scss */
ul.simple-list li jwc-project-card .container {
  background-color: #ececec;
}

/* line 71, ../scss/app-new.scss */
.about-page #container {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 79, ../scss/app-new.scss */
.about-page #container jwc-user-profile {
  margin: 28vh 0 0 8vh;
  transform: translateY(-50%);
}

/* line 85, ../scss/app-new.scss */
.about-page #container jwc-user-profile .container {
  max-width: none;
}

/* line 89, ../scss/app-new.scss */
.blog-list #container-blog {
  background-color: #ececec;
}
/* line 92, ../scss/app-new.scss */
.blog-list #container-blog ul.simple-list {
  margin: 3em 2em 1em 0em;
}
/* line 96, ../scss/app-new.scss */
.blog-list #container-blog .simple-list-item {
  margin: 4em auto;
  width: 600px;
  cursor: pointer;
  padding: 1rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px transparent;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px transparent;
}

/* line 109, ../scss/app-new.scss */
jwc-layout-footer {
  z-index: 1111;
}

/* line 112, ../scss/app-new.scss */
.footer .social-links {
  margin-bottom: 20px !important;
}
