/* line 1, ../scss/_custom.scss */
body {
  background-image: url("../img/rockywall.png");
}

/* line 5, ../scss/_custom.scss */
a {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 800 !important;
  font-size: 0.9rem;
}

/* line 11, ../scss/_custom.scss */
a:hover {
  color: #FFDF00 !important;
}

/* line 15, ../scss/_custom.scss */
p {
  font-family: 'Open Sans', sans-serif !important;
}

/* line 19, ../scss/_custom.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 800;
}

/* line 25, ../scss/_custom.scss */
h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* line 31, ../scss/_custom.scss */
.main-container {
  background: #FFFFFF;
  border: 1px solid #3C60B3;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  max-width: 1000px;
  margin: 20px auto 20px;
}

/* line 42, ../scss/_custom.scss */
.header {
  padding: 0 !important;
}

/* line 46, ../scss/_custom.scss */
.top-bar {
  background: #3C60B3;
  border-radius: 10px 10px 10px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  height: 4.5em;
}

/* line 55, ../scss/_custom.scss */
.top-bar-section {
  margin-top: 10px;
}

/* line 59, ../scss/_custom.scss */
.logo {
  float: left;
}

/* line 63, ../scss/_custom.scss */
.logo h1 {
  position: relative;
  left: 20px;
  display: inline;
}

/* line 69, ../scss/_custom.scss */
span.logo-left {
  color: #FFFFFF;
}

/* line 73, ../scss/_custom.scss */
span.logo-right {
  color: #FFDF00;
}

/* line 77, ../scss/_custom.scss */
.link-top-menu {
  color: #FFFFFF !important;
  background-color: #3C60B3 !important;
}

/* line 82, ../scss/_custom.scss */
.landing-item {
  display: inline-block;
  margin-top: 50px !important;
  padding: 20px;
}

/* line 88, ../scss/_custom.scss */
.app-icon {
  border: 1px solid #cccccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  max-width: 900px !important;
}

/* line 98, ../scss/_custom.scss */
.app-icon .overlay-click {
  border-radius: 8px;
  position: absolute;
  top: 90px;
  left: 15px;
  width: 900px;
  height: 300px;
  background: #FCE437;
  cursor: pointer !important;
  opacity: 0;
}

/* line 109, ../scss/_custom.scss */
.app-icon:hover .overlay-click {
  opacity: 0.1;
}

/* line 111, ../scss/_custom.scss */
.app-icon a img {
  max-width: 900px;
  max-height: 300px;
  border-radius: 8px;
}

/* line 117, ../scss/_custom.scss */
footer {
  margin-bottom: 20px !important;
}
