@import "reset";
@import "mixins";
@import "settings";
@import "lightbox";
@import "cosmos";

/*generics*/
body {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
        "Times New Roman", serif;
    line-height: normal;
    background-color: black;
}

a {
    text-decoration: none;
}

#container {
    // position: absolute;
    // width: 90%;
    // // height: 50px;
    // top: 50%;
    // left: 50%;
    // margin-left: -45%; /* margin is -0.5 * dimension
    // margin-top: -25%;
}
jwc-layout-header {
    padding: 1rem 0;
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    @include desktop() {
        background-color: $bg-secondary-color;
    }

}

ul.simple-list {
    display: inline-block;
    margin: 3em 2em 1em 31em;
    width:100%;
    @include smartphone() {
        margin: 2em 0;
        padding-left: 0em;
    }
}
/* line 255, ../scss/app-new.scss */
ul.simple-list li {
    position: relative;
    min-height: 10rem;
    margin: 4em 1em 1em 1em;
}
/* line 259, ../scss/app-new.scss */
ul.simple-list li h2 {
    font-size: 2em;
    position: absolute;
    top: -1em;
}
/* line 264, ../scss/app-new.scss */
ul.simple-list li img {
    margin: 1em;
}
/* line 268, ../scss/app-new.scss */
ul.simple-list li jwc-project-card .container {
    background-color: #ececec;
}

.about-page #container {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page #container jwc-user-profile {
    margin: 28vh 0 0 8vh;
    transform: translateY(-50%);
    // width: 60%;
}

.about-page #container jwc-user-profile .container {
    max-width: none;
}

jwc-layout-footer {
    z-index: 1111;
}
.footer .social-links {
    margin-bottom: 20px !important;
}
